<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or "EventHub" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
{% block header %}
<header class="topbar">
  <div class="container topbar-inner">
      <b><span class="brand-name">Raíz Urbana</span></b>

    <nav class="navlinks">
      <a href="{{ url_for('foro_page') }}">Foro</a>
      <a href="{{ url_for('blog_page') }}">Blogs</a>
      <a href="{{ url_for('venta_page') }}">Compra y venta</a>
    </nav>

    <div class="top-actions">
      <form class="mini-search" action="{{ url_for('index') }}" method="get">
        <input name="q" value="{{ request.args.get('q','') }}" placeholder="Búscar..." />
      </form>

      {% if session.get("user") %}
        <a class="btn btn-ghost" href="{{ url_for('profile') }}">Mi perfil</a>
        {% if current_user["role"] == "admin" %}
          <a class="btn btn-ghost" href="{{ url_for('admin_users') }}">Admin Panel</a>
        {% endif %}
        <a class="btn btn-ghost" href="{{ url_for('logout') }}">Cerrar sesión</a>
        <a class="btn btn-ghost" href="{{ url_for('dashboard') }}">Mis plantas</a>
      {% else %}
        <a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </div>
  </div>
</header>
{% endblock %}

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
  </footer>
</body>
</html>
