{% extends "base.html" %}
{% set title = "Blog-Recetas" %}

{% block content %}
<section class="hero">
  <div class="container hero-inner">
    <h1>Recetas ecologicas</h1>
     <h2>Ensalada Verde Orgánica</h2>
        <img src="https://images.unsplash.com/photo-1567306226416-28f0efdc88ce" alt="Ensalada ecológica">

        <section class="ingredients">
            <h3>Ingredientes:</h3>
            <ul>
                <li>Lechuga romana orgánica</li>
                <li>Espinaca fresca</li>
                <li>Tomates cherry</li>
                <li>Pepino</li>
                <li>Aceitunas negras</li>
                <li>Aceite de oliva extra virgen</li>
                <li>Jugo de limón</li>
                <li>Sal marina y pimienta al gusto</li>
            </ul>
        </section>

        <section class="steps">
            <h3>Preparación:</h3>
            <ol>
                <li>Lavar y trocear la lechuga y la espinaca.</li>
                <li>Cortar los tomates cherry y el pepino en rodajas.</li>
                <li>Mezclar todos los vegetales en un bol grande.</li>
                <li>Añadir las aceitunas negras.</li>
                <li>Aliñar con aceite de oliva, jugo de limón, sal y pimienta.</li>
                <li>Servir fresca y disfrutar.</li>
            </ol>
        </section>
  </div>
</section>
{% endblock %}
